- cache 'genres/graph' do
  .row
    .large-8.columns
      #graph
        / Created with vis.js
    .large-4.columns
      #genre
        / Genre details
  #editor.reveal-modal{ data: { reveal: true } }
    / editor
