$sampleSize: 30px;
.sample {
  display: inline-block;
  width: $sampleSize;
  height: $sampleSize;
  border-radius: $sampleSize / 2;
  font-size: 20px;
  color: #fff;
  line-height: $sampleSize;
  text-align:center;
  background:#000;
  padding: 1px;

  audio {
    display: none;
  }

  &:hover {
    background: white;
    color: black;
  }

  &.active {
    color: white;
    background: gray;
  }

  .label {
    display: none;
  }
}

.stop {
  padding: 5px;
  border: 1px solid white;
}

.current-sample {
  .part {
    display: none;
  }
}

#artist, #track {
  min-width: 100px;
}
