.sample {
  audio {
    display: none;
  }

  border: 1px solid white;
  border-radius: 15px;

  &:hover {
    background: white;
    color: black;
  }

  &.active {
    color: white;
    background: gray;
  }
}
